<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Voting Validation</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Can Vote</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{voter.name}}</td>
                <td>{{voter.age}}</td>
                <td>
                    {%if voter.age >= 18 %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</html>